body * {
  box-sizing: border-box;
  font-family: 'Nova Mono', monospace;
}

body {
  margin: 0;
  padding-bottom: 60px;
}

.page-header {
  background-color: #9B9B9C;
  margin-top: 0;
  padding: 20px 20px 20px 40px;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}

.shelf {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: solid 1px grey
}

.load-type-display {
  color: #2F4F4F;
  background: #DCDCDC;
  padding: 2px;
}
