body * {
  box-sizing: border-box;
  font-family: 'Nova Mono', monospace;
}

body {
  margin: 0;
  padding-bottom: 60px;
}

.page-header {
  background-color: #9B9B9C;
  margin-top: 0;
  padding: 10px 20px 20px 40px;
}

h1 a:link, h1 a:visited {
  color: black;
}

main {
  padding-left: 40px;
  padding-right: 40px;
}

.top-menu {
  padding-top: 10px;
  padding-bottom: 10px;
}

.actions {
  margin-bottom: 30px;
  margin-top: 30px;
}

.actions a {
  color: #2F4F4F;
  font-size: 12pt;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  font-size: 16pt;
  float: right;
  margin-right: 35px;
}

.glyphicon::after {
  content: "\00a0";
}

.shelf {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 5px;
  border: solid 1px grey;
	border-radius: 3px;
}

.shelf-header {
  margin-top: 10px;
}

.load-type-display {
  color: #2F4F4F;
  background: #DCDCDC;
  padding: 2px;
}
